.link {
	font-size: 16px;
	line-height: 18px;
	color: #AEAEAE;
	cursor: pointer;
}

.body {
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
}

.number {
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
}

.subtitle {
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
}

.table {
	font-weight: 600;
	font-size: 16px;
	line-height: 23px;
}
